* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 1500px;
    max-width: 1500px;
    padding: 0px 40px;
}

.navbar {
    .navbar-top {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: white;
        padding: 10px 0 10px 0;
    }
}

.navbar {
    .navbar-top ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .navbar-top ul li a {
        text-decoration: none;
        color: black;
    }

    .navbar-top img {
        width: 20px;
    }
}

.navbar-bottom {
    .logo img {
        width: 85px;
        height: auto;
    }
}

.navbar {
    .navbar-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .options {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .options a {
        text-decoration: none;
        color: black;
    }
}

.navbar {
    .navbar-bottom {
        .icons {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .icons a {
            color: black;
        }
    }
}

.navbar {
    .navbar-bottom {
        .icons {
            .search {
                position: relative;
                display: inline-block;

                input[type="text"] {
                    padding-right: 30px;
                    background-color: #eceff1;
                    padding: 0 35px 0 10px;
                    height: 32px;
                }

                .search-icon {
                    position: absolute;
                    top: 50%;
                    right: 7px;
                    transform: translateY(-50%);
                    background-color: #eceff1;
                }
            }

        }
    }
}

.navbar-bottom {
    .options {
        li:nth-child(1) {
            font-weight: 700;
        }

        li:nth-child(2) {
            font-weight: 700;
        }

        li:nth-child(3) {
            font-weight: 700;
        }
    }
}

.slider {
    position: relative;
    width: 100%;
    height: auto;

    .background-img img {
        width: 100%;
        height: auto;
    }

    .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: start;
        color: white;
        width: 80%;

        h2 {
            width: 300px;
            height: auto;
            font-size: 40px;
            margin-bottom: 20px;
        }

        p {
            width: 450px;
            height: auto;
            font-size: 20px;
            margin-bottom: 200px;
        }
    }

    .content-item {
        position: absolute;
        top: 50%;
        left: 155px;
        display: flex;
        flex-direction: column;
        align-items: start;

        a {
            margin: 15px 0;
            color: black;
            text-decoration: none;
            display: flex;

            i {
                margin-left: 30px;
            }
        }

        .men {
            border: 2px solid white;
            border-radius: 2px;
            background-color: white;
            padding: 8px 10px 18px 10px;
        }

        .women {
            border: 2px solid white;
            border-radius: 2px;
            background-color: white;
            padding: 8px 10px 18px 10px;
        }

        .men:hover,
        .women:hover {
            color: #767677;
        }
    }
}

.center-word {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    background-color: #f5f5e5;
    flex-direction: column;
    gap: 30px;

    .word {

        h2 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }

        p {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .shop-now {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
            color: black;
            transition: background-color 0.3s, color 0.3s;
        }

        a:hover {
            background-color: black;
            color: white;
        }
    }
}


.card {
    .price {
        transition: 0.2s;
    }

    &:hover .price {
        bottom: 10px;
    }

}

.custom-container {
    max-width: 1300px;
    width: 1300px;
    margin: 0 auto;
}